@font-face {
  font-family: 'Jura';
  font-style: normal;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Jura.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-style: bold;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Gilroy.ttf');
}

:root {
  --black1: #242529;
  --white1: #D9D9D9;
  --gray1: #6F6C6D;
  --gray2: #565656;
  --green1: #65FAAF;
  --fontHeader: 'Gilroy', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --fontBody: 'Jura', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --gap: 10px;
  --radius: 5px;
  --border-width: 1px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* outline: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 350px;
  padding: 10px 10px;

  line-height: 1;
  font-family: var(--fontBody);
  color: var(--white1);
  background-color: var(--black1);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

header {
  display: flex;
  align-items: start;
  margin-bottom: var(--gap);

  & > h1 {
    font-family: 'Gilroy';
    font-size: 1.1rem;
    color: var(--green1);
    margin: 0;
    margin-right: auto;
  }
}

section:nth-child(1){
  display: flex;
  flex-direction: column;

  & > a {
    align-self: end;  
    color: var(--white1)
  }

  & > fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: var(--radius);
    gap: var(--gap);
    padding: var(--gap);

    & div {

      & label {
        text-transform: capitalize;
        font-size: 16px;

        display: flex;
        align-items: center;

        & sup {
          align-self: start;
          font-size: 14px;
          color: var(--gray1);
          text-transform: lowercase;
        }
      }

      & input[type="color"]{
        visibility: hidden;
        position: absolute;
      }

      & input[type='number']::-webkit-inner-spin-button {
        position: absolute;
        width: 12.5%;
        height: 100%;
        top: 0;
        right: 0;
      }
    }
  }
}

section:nth-child(2){
  & fieldset {
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: var(--radius);
    gap: var(--gap);
    padding: 5px 10px var(--gap);

    & div:nth-child(2) {
      display: flex;
      align-items: center;

      & label {
        text-transform: capitalize;
        font-size: 16px;

        display: flex;
        align-items: center;
      }
    }

    & legend {
      font-size: 0.75rem;
    }
  }
}

section:nth-child(3){
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

input, select, .input {
  width: 70px;
  height: 25px;
  color: var(--white1);
  background-color: var(--black1);
  border: var(--gray1) 1px solid;
  border-radius: var(--radius);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--gray1);
  cursor: pointer;
}

legend {
  color: var(--green1);
  padding: 0 5px;
}

/* Button */
button {
  border: none;
  border-radius: var(--radius);
  background: var(--green1);
}

.button_top {
  font-size: 15px;
  font-family: var(--fontBody);
  color: var(--green1);
  background: var(--gray2);

  display: block;
  border: 2px solid var(--gray2);
  border-radius: var(--radius);
  padding: 5px;

  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
