@font-face {
  font-family: 'Jura';
  font-style: normal;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Jura.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-style: bold;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Gilroy.ttf');
}

:root {
  --black1: #242529;
  --white1: #D9D9D9;
  --gray1: #6F6C6D;
  --gray2: #464646;
  --green1: #65FAAF;
  --fontHeader: 'Gilroy', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --fontBody: 'Jura', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --gap: 10px;
  --radius: 5px;
  --border-width: 1px;

  --xs: 12px;
  --sm: 14px;
  --base: 16px;
  --lg: 18px;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
 /*  outline: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 350px;
  padding: 10px 10px;

  line-height: 1;
  font-family: var(--fontBody);
  color: var(--white1);
  font-size: var(--xs);
  background-color: var(--black1);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

header {
  display: flex;
  align-items: start;
  margin-bottom: var(--gap);

  & > h1 {
    font-family: 'Gilroy';
    font-size: var(--lg);
    color: var(--green1);
    margin-right: auto;
  }
}

section:nth-child(1){
  display: flex;
  flex-direction: column;

  & > a {
    align-self: end;
    color: var(--white1)
  }

  & > fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: var(--radius);
    gap: var(--gap);
    padding: var(--gap);

    & div {

      & label {
        text-transform: capitalize;
        font-size: var(--base);

        display: flex;
        align-items: center;

        & sup {
          align-self: start;
          font-size: var(--sm);
          color: var(--gray1);
          text-transform: lowercase;
        }
      }

      & input[type="color"]{
        visibility: hidden;
        position: absolute;
      }

      & input[type='number']::-webkit-inner-spin-button {
        position: absolute;
        width: 12.5%;
        height: 100%;
        top: 0;
        right: 0;
      }
    }
  }
}

section:nth-child(2){
  & fieldset {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    gap: var(--gap);
    padding: var(--gap);

    & div:nth-child(2) {
  
      & label {
        text-transform: capitalize;
        font-size: var(--base);

        display: flex;
        align-items: center;
  
        & input {
          width: 229px;
          text-align: left;
          padding: 0 var(--gap);
        }
      }
    }

    & div:nth-child(3) {
      font-size: var(--xs);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap);
      color: var(--gray1);
    }
  }
}

section:nth-child(3){
  display: flex;
  align-items: center;
  padding: 5px 0;
  justify-content: space-between;

  & > p {
    font-size: var(--xs);
    color: var(--gray1);
    margin-right: auto;
    margin-left: var(--gap);
  }

  /* buy coffee */
  & > a {
    display: flex;
    flex-direction: column;
    text-align: right;

    & > span {
      letter-spacing: 0.5px;
      pointer-events: none;
    }
  }
}

input, select, .input {
  width: 70px;
  height: 25px;
  color: var(--white1);
  background-color: var(--black1);
  border: var(--gray1) 1px solid;
  border-radius: var(--radius);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--gray1);
  cursor: pointer;

  &:hover {
    color: var(--white1);
  }

  &:active {
    color: var(--green1);
  }
}

legend {
  color: var(--green1);
  font-size: var(--xs);
  padding: 0 5px;
}

/* Button */
button {
  border: none;
  border-radius: var(--radius);
  background: var(--green1);
}

.button_top {
  font-size: var(--sm);
  font-family: var(--fontBody);
  color: var(--green1);
  background: var(--gray2);

  display: block;
  border: 2px solid var(--gray2);
  border-radius: var(--radius);
  padding: 5px;

  transform: translateY(-0.15em);
  transition: transform 0.1s ease;
}

/* Pull the button upwards when hovered */
button:hover .button_top {
  transform: translateY(-0.22em);
}

/* Push the button downwards when pressed */
button:active .button_top {
  transform: translateY(0);
}
